body {
    background-color: #efefef;
}
.main {
    background-color:white;
    margin:30px;
}
.btn-publish {
    float:right;
    margin-bottom:15px;
}
.media-object {
    width:48px;
    heght:48px;
}
.media-body {
    padding-top: 14px;
}
.record {
    font-size: 12px;
    font-weight:normal;
    color:#999;
}
.profile .section {
    margin-top: 15px;
}
.jumbotron {
    margin-left: 500px;
}
.comment {
    margin:10px 0;
}
.btn-comment {
    float: right;
    margin:10px 0;
}